body {
  background-color: #fff;
}

.question {
  position: relative;
}

button {
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.next-button {
    padding: 5px;
    margin: 5px;
    color: #fff;
    background-color: rgb(59, 89, 145);
    border: 2px solid black;
    border-radius: 0;
    position: absolute;
    left: 500px;
    top: 20px;
    width: 70px;
    text-align: center;
}

.newGame {
    background-color: #cc8800;
    position: absolute;
    left: 700px;
    top: 20px;
    width: 70px;
    text-align: center;
}

#letter {
  display: inline-block;
  width: 80px;
  height: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 50px;
  margin: 15px;
}


#letter-names {
  width: 200px;
}


